* {
  font-family: 'IBM 3270', Courier New, Courier, monospace;
  font-size: x-large;
  color: antiquewhite;
  box-sizing: border-box;
}

body {
    background-color: black;
    background-image: radial-gradient(
      rgba(19, 2, 34, 0.75), black 120%
    );
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: 	#7CFC00;
    text-shadow: 0 0 3px #0bda76;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.linkH1 {
  color: #00D1D1;
}

a.linkH1:hover {
  color: cyan;
  text-decoration: underline;
}

.linkH2 {
  color: lightgreen;
}

a.linkH2:hover {
  color: greenyellow;
  text-decoration: underline;
}
