* {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  color: antiquewhite;
  box-sizing: border-box;
}

body {
  background-color:black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.linkH1 {
  color: #00D1D1;
}

a.linkH1:hover {
  color: cyan;
}

.linkH2 {
  color: lightgreen;
}

a.linkH2:hover {
  color: greenyellow;
}